.Indicator {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto;

    column-gap: 1em;

    margin: 0.25em;
}

.Indicator > .label {
    grid-row: 1;
    grid-column: 1;
}

.Indicator > .value {
    grid-row: 1;
    grid-column: 2;

    text-align: right;
}
